@font-face {
	font-family: "Emblema One";
	src: url("http://wickedkysmart.com/hfhtmlcss/cheptar8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedkysmart.com/hfhtmlcss/cheptar8/journal/EmblemaOne-Regular.ttf"); 
}
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
}

h2 {
  font-size:       130%;

}
